@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
    
    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    
    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--font);
    font-size: 16px;
}
img{
    width: 100%;
}

.flex-spbt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

cabecalho{
    width: 100%;
    height: 5em; 
    background-color: var(--background);
}

.cabecalho img{
    width: 100%;
    max-width: 21.18em;
    display: block;
}

.content{
    width: 100%;
    max-width: 75em;
    height: 100%;
    margin: 0 auto;
}

.flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content img {
    transform: scale(0.8);
}

.content img:hover {
    transform: scale(1.0);
}

.menu-cabecalho{
    width: 100%;
    max-width: 50em;
}

.menu-cabecalho ul{
    display: flex;
    justify-content: space-between; 
}

.menu-cabecalho a{
    padding: 0.9em 0.66em;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.1s;
}

.menu-cabecalho a:hover{
    background-color: var(--blue);
}

#header-bars{
    display: none;
}

.menu-cabecalho-response{
    display: none;
}
.banner{
    background: #C41616;
}

.banner-container{
    width: 100%;
    height: 37,75em;
    display: flex;
    justify-content: space-between;
background: linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 80%);

}
.banner img{
    width: 40%;
 max-width: 44,375em;
}
.banner-text{
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    color: white;
    font-size: 3.75em;
}
.banner-text p{
    color: white;
    padding-bottom: 10px;
}
.banner-text button{
    font-size: 30px;
    border-radius: 5px;
    background-color: var(--red);
    overflow: hidden;
    transition: 0.5s;
}
.banner-text button:hover{
    transform: scale(1.3);
    background-color: darkblue;
    border-radius: 0px;
}
.banner-text a{
    color: white;
    text-decoration: unset;
}
.games{
    width: 100%;
    height: 7.5em;
}
.games img{
    width: 170px;
}
.games ul a:hover img{
    transition: 0.5s;
    transform: scale(1.5);
}
    .about{
        height: 31.25em;
       background-color: var(--blue);
       position: relative;
    }
    .about-angulation{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

    }
    .angulation{
        width: 100%;
        height: 24.125em;
        background-color: var(--background);
        transform: skewY(-4.7deg);
    }
    .container-about{
        color: white;
        position: absolute;
        top: 0;
    }
    .content-about{
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .text-about{
        width: 50%;
        text-align: justify;
    }
    .text-about h2{
        margin-bottom: 1em;
        font-size: 2.1875em;
    }
    .text-about p{
        font-size: 1em;
    }
   .content-about img{
       max-width: 31.875em;
   }
  .games-aovivo{
      display: flex;
      color: #fff;
      font-size: 1.875em;
  }
  .games-aovivo H2{
      margin-right: 0.5em;
  }

  .partidas{
      width: 9.4em;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .time1, .time2{
      display: flex;
      align-items: center;
  }
  .partidas img{
      width: 1.8em;
  }
  .time1 img{
    margin-left: 0.5em;
  }
  .time2 img{
      margin-right: 0.5em;
  }
  .games-embreve{
    display: flex;
    color: #fff;
    font-size: 1.875em;
    margin-right: 9em;
     }
    
    .time1{
        margin-left: 1em;
    }
    .linha{
        height: 60%;
        width: 0.2em;
        background-color: #fff;
    }
    .noticias-e-partidas h2{
        color: #ffffff;
        font-size: 1.3em;
    }
    .noticias-e-partidas{
background-color: #1e1c21;
    }
    .tudo{
        display: flex;
        justify-content: space-between;
 
    }
    .partidas2{
        width: 14em;
        height: 46em;
        background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
        box-shadow: 1px 1px 20px 4px #000000;
        margin-right: 5em;
        margin-top: 2em;
    }
    .all-box{
        display: flex;
        justify-content: space-between;
    }
    .noticias-principais{
        width: 100%;
        max-width: 53em;
        height: 50em;
        margin-left: 3em;
        margin-top: 2em;
    }
    .noticias-box{
        max-width: 15em;
        height: 20em;
        background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
        box-shadow: 1px 1px 20px 4px #000000;
    }
    .noticias-box p{
        color: white;
        font-size: 0.8em;
        margin-top: 0.75em;
        margin-left: 0.5em;
    }
    .noticias-box2{
        max-width: 15em;
        height: 20em;
        background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
        box-shadow: 1px 1px 20px 4px #000000;
    }
    .noticias-box2 p{
        color: white;
        font-size: 0.8em;
        margin-top: 0.75em;
        margin-left: 0.5em;
    }
    .noticias-box h2{
        margin-left: 0.5em;
    }
    .noticias-box2 h2{
        margin-left: 0.5em;
    }
    .all-box2{
        display: flex;
        justify-content: space-between;
        margin-top: 6em;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .calendario{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2em;
        color: white;

    }
    .partidas3{
        width: 9.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
        margin-left: 2em;
        color: white;
    }
    .time3, .time4{
        display: flex;
        align-items: center;
    }
    .partidas img{
        width: 1.8em;
    }
    .time3 img{
      margin-left: 0.5em;
      margin-right: 3.5em;
    }
    .time4 img{
        margin-right: 0.5em;
         }
         .links-footer{
             display: flex;
         }
         .links{
             color: white;
             margin-left: 1.8em;
         }
         .links a{
             text-decoration: none;
             color: white;
         }

         .links2{
             color: white;
             margin-left: 1.8em;
         }
         .links2 a{
             text-decoration: none;
             color: white;
         }         
         .logo-rodapé{
             width: 19.60em;
         }
         .sociais{
             color: white;
         }
         .sociais > h2{
             font-size: 0.875em;
         }
         .siga-nos{
             display: flex;
             align-items: center;
         }
         .sociais input[type="email"]{
            height: 2.3125em;
            width: 12.1875em;
         }
         .sociais input[type="email"]::placeholder {
            color: #b8b3b3;

         }
         .sociais input[type="submit"]{
             width: 9.75em;
             color: white;
             background-color: #8326ef;
             justify-content: space-between;
             font-size: 1.1em;
         }
         .siga-nos{
             display: flex;
             align-items: center;
             margin-top: 0.8em;
         }
@media screen and (max-width: 74.9375em){
    .topo img {
        max-width: 13em;
    }
    .banner img{
        height: 80%;
        margin-top: 5em;
    }
    .banner-text {
        width: 44%;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    .banner-text p {
        font-size: 0.9em;
    }
    .banner-text button {
        font-size: 24px;
    }
    .text-about h2{
        margin-top: 1em;
    }
    .text-about p {
        font-size: 1em;
    }
    .content-about img {
        max-width: 17.875em;
    }
    .games-aovivo {
        font-size: 1.5em;
    }
    .games-embreve {
        font-size: 1.5em;
        margin-right: 13em;
    }
    .noticias-principais {
        max-width: 42em;
    }
    .noticias-box {
        margin-right: 3em;
    }
    .noticias-box2 {
        margin-right: 3em;
    }
    .noticias-box p {
        color: white;
        font-size: 0.7em;
        margin-top: 0.75em;
        margin-left: 0.5em;
    }
    .partidas2 {
        width: 13em;
        margin-right: 4em;
    }
    .partidas3 {
        width: 8.5em;
        margin-left: 1em;
    }
    .data{
        margin-left: 2em;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 62em){
    .menu{
        display: none;
    }
    .btnMenu{
        display: block;
    }
    .responsive-menu{
        display: unset;
    }
    .banner-text {
        width: 48%;
        height: 27em;
    }
    .banner-text h1 {
        font-size: 34px;
    }
    .banner-text p {
        font-size: 0.8em;
    }
    .games img{
        margin-top: 2em;
        max-width: 7.7em;
    }

.content {
    max-width: 51em;
}
    
    .games ul a:hover img{
        transition: 0.5s;
        transform: scale(1.3);
    }
    .text-about p {
        font-size: 0.9em;
    }
    .content-about img {
        max-width: 15.875em;
    }
    .flex-spbt-center img{
        margin-bottom: 1em;
    }
    .games-aovivo {
        font-size: 1em;
    }
    .games-embreve {
        font-size: 0.9em;
        margin-right: 18em;
    }
    .linha {
        margin-left: 2em;
    }

    .noticias-principais {
        width: 100%;
        height: 43em;
        margin-left: 3em;
        margin-top: 2em;
    }
    .noticias-box2 {
        margin-right: 3em;
        max-height: 17em;
    }
    .noticias-box2 p {
        color: white;
        font-size: 0.6em;
        margin-top: 0.75em;
        margin-left: 0.5em;
    }
    .partidas2{
        width: 9em;
        height: 40em;
    }
    .partidas3 {
        width: 5.5em;
        margin-left: 1em;
        margin-bottom: 2em;
    }
    .data{
        margin-left: 2em;
        font-size: 0.8em;
    }
    .calendario img{
        max-width: 1.5em;
    }
    .calendario p{
        font-size: 1em;
    }
    .time3 img{
        margin-left: 0.5em;
        margin-right: 1.75em;
      }
      .links a {
        font-size: 0.8em;
    }
      .links2 h2{
          margin-top: 1em;
        margin-bottom: 0.5em;
      }
      .links2 a {
        font-size: 0.8em;
    }
    .logo-rodapé {
        width: 16.6em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .siga-nos{
        font-size: 0.6em;
    }
    .siga-nos img{
        max-width: 5em;
    }
    .instagram{
        margin-left: 0.2em;
        max-width: 4.7em;
    }
    .youtube{
        max-width: 4em;
    }
}

@media screen and (max-width: 48em){
    .cabecalho img{
        width: 100%;
        max-width: 15em;
        display: block;
    }

    .content{
        width: 93%;
    }

    .flex-content{
        justify-content: space-between;
    }
    
    .menu-cabecalho {
        display: none;
    }
    
    #header-bars{
        display: inline;
        font-size: 40px;
        color: white;
    }

    .menu-cabecalho-response {
        display: none;
    }

    .menu-cabecalho-response a{
        width: 100%;
        display: block;
        text-align: center;
        padding: 0.4em 0.22em;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        transition: 0.1s;
        border: 2px solid rgb(194, 0, 0, 0.3);
    }

    .menu-cabecalho-response a:hover{
        border: 2px solid rgb(194, 0, 0, 1);
    }
    .banner{
        height: 20em;
    }
    .banner-text {
        width: 48%;
        height: 23em;
    }
    .banner-text h1 {
        font-size: 2.8em;
    }
    .banner-text p {
        font-size: 0.8em;
    }
    .banner img {
        max-width: 13em;
        height: 40%;
        margin-top: 6em;
    }
    .banner img {
        max-width: 22em;
        height: 40%;
        margin-top: 3em;
        margin-left: 1em;
    }
    .content {
        max-width: 42em;
    }

    .games ul a:hover img{
        transition: 0.5s;
        transform: scale(1.3);
    }
    .f1{
        margin-top: 1.2em;
    }
    .lol{
        margin-top: 1.2em;
    }
    .cs{
        margin-top: 1.2em;
    }
    .valorant{
        margin-top: 1.2em;
    }
    .fifa{
        margin-top: 1.2em;
    }
    .text-about p {
        font-size: 0.9em;
    }
    .content-about img {
        margin-top: 3em;
        max-width: 13.875em;
    }
    .games-aovivo {
        font-size: 1em;
    }
    .games-embreve {
        font-size: 1em;
        margin-right: 11em;
    }
    .linha {
        width: 0.1em;
        margin-left: 0em;
    }
    .partidas2{
        display: none;
    }
    .links h2{
        font-size: 0.7em;
    }
    .links a {
        font-size: 0.4em;
    }
      .links2 h2{
        font-size: 0.7em;
          margin-top: 1em;
        margin-bottom: 0.5em;
      }
      .links2 a {
        font-size: 0.4em;
    }
    .logo-rodapé {
        width: 7.6em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .sociais{
        font-size: 0.7em;
    }
    .sociais input[type="email"] {
        height: 1.3125em;
        width: 9em;
    }
}

@media screen and (max-width: 36em){

}